body{
	margin: 0;
	padding: 0;
	background-color: #87CEEB;
	font-family: 'Arial';
}
.login
{
	width: 382px;
	overflow: hidden;
	margin: auto;
	margin: 450px;
	padding: 80px;
	background: white;
	border-radius: 15px;
}
h1
{
 text-align: center;
 color: black; 
 padding: 20px;
}

