<!DOCTYPE html>
<html>
<head>
  <title>LOGIN FORM</title>
  <link rel='stylesheet' href="{{url_for('static',filename='color2.css')}}">
  </head>
  
<body>
  
  <h1>CASH-WALL</h1><br>
  <div class="login">
  <form id="login"  method="POST" action="/login">
  <label>
  <a href="{{url_for('route2')}}">New user signup here<a><br><br>
<b>User Name</b>
</label>
<input type="text" name="uname" id="uname" placeholder="Username">
<br><br>
<label><b>Password</b>
</label>
<input type="text" name="pass" id="pass" placeholder="Passsword">
<br><br>
<input type="Submit" class="file_submit" name="log" id="log" value="Login">
<br><br>
<input type="checkbox" id="check">
<span>Remember me</span>
<br><br>
</form>
</div>
</body>
</html>