<!DOCTYPE html>
<html>
<head>
  <title>HOME</title>
  <link rel='stylesheet' href="{{url_for('static',filename='color2.css')}}">
  </head>
<body>
  
    <h1>Transaction page</h1><br>

  <div class="login">
  <form id="start"  method="POST" action="/start">
 
  <label>
<b>Transaction method
</label>
<select name="transaction" id="trans">
  <option value="credit">CREDIT</option>
  <option value="debit">DEBIT</option></select></b><br><br>
<label><b>Amount</b>
</label><br>
<input type="int" name="amount" id="amount" placeholder="RS.">
<br><br>
<input type="Submit" name="subm" id="subm" value="submit">
<br><br>
<a href="{{url_for('route3')}}">see full transaction details</a>


</form>
</div>
</body>
</html>
